h1 {
  color: blue;
  font-size: 26px;
}

.yellow-color {
  font: size 18px;
  color: yellow;
}
.article-img {
  background-color: lightgrey;
}
#heading-title {
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-underline-position: below;
  color: teal;
  font-weight: 900;
}

.remove-underline {
  font-weight: 600;
  text-decoration: none;
  text-decoration-line: none;
}

.color-change {
  background-color: black;
  text-decoration-color: white;
}

.text-style {
  text-decoration: solid;
}
